attr==0.3.2
ConfigParser==7.2.0
contextlib2==21.6.0
cryptography==46.0.3
Cython==3.2.0
dl==0.1.0
docutils==0.22.3
HTMLParser==0.0.2
ipython==8.12.3
ipywidgets==8.1.8
Jinja2==3.1.6
jnius==1.1.0
keyring==25.6.0
lockfile==0.12.2
mock==5.2.0
numpy==2.3.4
pandas==2.3.3
Pillow==12.0.0
protobuf==6.33.0
pyOpenSSL==25.3.0
railroad==0.5.0
Sphinx==8.2.3
thread==2.0.5
tornado==6.5.2
tqdm==4.67.1
trove_classifiers==2025.9.11.17
truststore==0.10.4
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1
